<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Histórico de Compras</title>
        <link rel="stylesheet" href="/css/historico.css" />
    </head>
    <body>
        <h2>Histórico de Compras</h2>
        <div id="tickets-list"></div>
    </body>
        <script src="/js/historico.js"></script>
</html>
